body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 25px 0px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.contact-us {
    display: flex;
    justify-content:space-between;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info{
    align-content:baseline;
}

.contact-info h2 {
    color: #310404;
}

.contact-info p {
    color: #666;
    font-size: 130%;
}

.contact-form-container {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form-container h1 {
    color: #333;
    text-align: center;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
}

.submit-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 25px 0px;
    background-color: #333;
    color: #fff;
}
