<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | Car Dealership</title>
    <link rel="stylesheet" href="{% static 'carapp/css/Contact.css' %}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% templates 'carapp/hm.html' %}">Home</a></li>
                <li><a href="Cars.html">Cars</a></li>
                <li><a href="Services.html">Services</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="file:///C:/Users/tanvi/OneDrive/Desktop/Car%20Dealership%20Website/Contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section class="contact-us">
        <div class="contact-info">
            <h2>Contact Information</h2>
            <p><strong>Car Dealership</strong></p>
            <p>Email:  contact@cardealership.com</p>
            <p>Phone:  +123 456 7890</p>
            <p>Address:  123 Car Dealership St, City, Country</p>
        </div>

        <div class="contact-form-container">
            <h1>Get In Touch</h1>
            <form action="{% url 'contact' %}" method="POST" class="contact-form">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="submit-btn">Send Message</button>
            </form>
        </div>
    </section>
    <footer>
        <p>&copy; 2025 Car Dealership. All Rights Reserved.</p>
    </footer>
</body>
</html>




